*{
    box-sizing: border-box;
}

body{
    background-color: white;
}

#logo{
    margin-top: 5%;
}

#logoImage{
    position: relative;
    margin: auto;
    transform: rotate(-15deg)
}

#nameImage{
    height: 120px;
}

.formSection{
    width: 50%;
    margin: auto;
    position: relative;
}

#loadingText{
    font-size: 1.6em;
    font-family: 'Courier New', Courier, monospace;
}

.row{
    margin: 0px !important;
}

#error{
    float: left;
    color: red;
}

.loader > img{
    width: 5%;
}

.loader{
    display: none;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin{
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin{  
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media only screen and (max-width: 667px){
      #nameImage{
          height: 80px;
      }
  }
